@import "tailwindcss";


@theme {
  /* your custom color variables */
  --color-red: #E31E24;
  --color-red-light: #ff5a5e;
  --color-red-dark: #c41a1f;
  --color-black:#333;
  --color-white:#fff;
  --color-gray-light:#f5f5f5;
  --color-dark-black:#111;
}
body{
  font-family:Arial, Helvetica, sans-serif
}