@import "tailwindcss";

:root{
  --shadow-card:0 3px 10px rgba(0,0,0,0.2)
}


@theme {
  /* your custom color variables */
  --color-red: #E31E24;
  --color-red-light: #ff5a5e;
  --color-red-dark: #c41a1f;
  --color-black:#333;
  --color-white:#fff;
  --color-gray-light:#f5f5f5;
  --color-dark-black:#111;


}
body{
  font-family:Arial, Helvetica, sans-serif
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(220, 220, 220, 0.5);
}
